<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavelprymak.androidjokelibrary">

    <application>
        <activity
            android:name=".JokeActivity"
            android:label="@string/joke_label" />
    </application>

</manifest>